<div class="row">
  <h1 class="col-sm-12 text-center h2">Edit order #<%= order.id %></h1>
</div>

<div class="row top-buffer border border-dark rounded">
  <%= render partial: 'order', locals: { user: user, credit_cards: credit_cards, order: order } %>
</div>

<div class="row top-buffer border border-dark rounded">
  <div class="col-sm-12">
    <h2 class="h3 text-center">Logistical information</h2>
  </div>
</div>