<div class="row top-buffer">
  <div class="col-sm-12 text-center">
    <h1 class="h2">All orders</h1>
    <p>Create new orders from within <%= link_to 'User', admin_users_path %> profiles</p>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-sm-12">
    <%= render partial: 'orders_table',
               locals: { orders: orders } %>
  </div>
</div>