

<form action="" method="">
  <input type="hidden" accept-charset="UTF-8">
  <input type="text" name="user[username]">
  <input type="text" name="user[email]">
  <input type="password" name="user[password]">

</form>
