<div class="row">
  <div class="col-12">

    <h2>Rugged Original HTML Form - for the purist in you</h2>
    <form action="/users" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <div class="form-group">
        <label>
          User name:
          <input name="user[username]" type="text" value="<%= @user.username %>">
        </label>

        <label>
          Password:
          <input name="user[password]" type="password" value="<%= @user.password %>">
        </label>

        <label>
          Email:
          <input name="user[email]" type="email" value="<%= @user.email %>">
        </label>

        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

  </div>
</div>
