<hr><hr>
<h2>Rugged Original HTML Form</h2>
<%= render 'form1' %>
<hr>
<h2>Business-Class Form-Tag</h2>
<%= render 'form2' %>
<hr>
<h2>Blinged-Out Artisanal Paleo Gluten-free Form_for</h2>
<%= render 'form3' %>
<hr><hr>
