<h4>Users</h4>
<% @users.each do |u| %>
  <ul>
    <li><%= link_to u.username, user_path(u.id) %> </li>
    <li><%= u.email %> </li>
    <li><%= link_to "edit", edit_user_path(u.id) %></li>
  </ul>
<% end %>