<H1>All users we have:</H1>

<p><% @user.each do |user| %></p>
  <p>ID:<%= user.id %></p>
  <p>Username:<%= user.username %></p>
  <p>Email:<%= user.email %></p>
  <p>Password:<%= user.password %></p>
  <hr>
  <br>
<% end %>