<table>
  <tr>
    <th><strong>Username</strong></th>
    <th><strong>Email</strong></th>
    <th><strong>Password</strong></th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
  </tr>
  <% end %>
</table>
