<h1> New User </h1>

<%= render partial: 'form' %>






<!--
<form accept-charset="UTF-8" action="/users" method="post">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="✓">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </div>


  <div>

    <label class="string required" for="username">
      Username:
    </label>

    <input type="text" id="username" name="username">

  </div>

  <div>

    <label class="string required" for="user_email">
      Email:
    </label>

    <input type="text" id="user_email" name="email">

  </div>


  <div>

    <label class="string required" for="password">
      Password:
    </label>

    <input type="password" id="password" name="password">

  </div>

  <div>
  	<input type="Submit" value="Create User">

</form>
-->