<form action="/users#create" method="post" accept-charset="UTF-8">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<label for="username">
Username:
	<input type="text" name="[user][username]">
</label>
<label for="email">
Email Address:
	<input type="text" name="[user][email]">
</label>

<label for="password">
Password:
	<input type="password" name="[user][password]">
</label>

<input type="submit">
</form>