<h1>USERS NEW FORM PAGE</h1>

<form method="post" action="/users" accept-charset="UTF-8">
  <label>username</label>
  <input type="text" name="user[username]">

  <label>email</label>
  <input type="text" name="user[email]">

  <label>password</label>
  <input type="password" name="user[password]">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<!--   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> -->

  <button type="submit">Submit!</button>

</form>