<h1>Hello, world</h1>
<p>Find me in app/views/users/new.html.erb</p>

<form action="/users/create" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username"><br>
  <label for="email">Email:  </label>
  <input type="text" name="email"></br>
  <label for="password">Password:</label>
  <input type="password" name="password"><br>
  <input type="submit">
</form>