<h1>Hello World</h1>

<form action="/users" method="post">
  <input type="hidden" name="authenticity_token"
  value="<%= form_authenticity_token %>">
  <input name="utf8" type="hidden" value="✓">
  <label for="username">
    Username: <input type="text" name="user[username]">
  </label>
  <label for="email">
    Email: <input type="text" name="user[email]">
  </label>
  <label for="password">
    Password: <input type="password" name="user[password]">
  </label>
  <input type="submit">
</form>

