<h1>New User Forms</h1>

<h2>Using plain HTML</h2>
<form accept-charset="UTF-8" action="/user" method="post">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </div>
  <div>
    <label>
      Username:
      <input type="text" id="username" name="user[username]">
    </label><br>

    <label>
      Email:
      <input type="email" id="email" name="user[email]">
    </label><br>

    <label>
      Password:
      <input type="password" id="password" name="user[password]">
    </label><br>

    <input type="submit">
  </div>
</form>


<h2>Using form_tag</h2>


<h2>Using form_for</h2>
