<form action="/user#create" method="post" accept-charset="UTF-8">
<label for="email">
Email
</label>
<input type="text" name="users[email]" />
<label for="username">
Email
</label>
<input type="text" name="users[username]" />
</form>