Hello, world!

<form method="post" action="/users">
  <input name="utf8" type="hidden" value="✓">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <label>
    Name
    <input name="user[username]" type="text" value="<%= @user.username %>" />
  </label>
  <label>
    Email
    <input name="user[email]" type="email"  value="<%= @user.email %>" />
  </label>
  <label>
    Password
    <input name="user[password]" type="password" />
  </label>
  <input type="submit" value="Submit!" />

</form>
