<form action="<%= action %>" method="<%= method %>" accept-charset="UTF-8">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label>
    Name
    <input type="text" name="users[username]">
  </label>
  <label>
    Email Address
    <input type="text" name="users[email]">
  </label>
  <label>
    Password
    <input type="password" name="users[password]">
  </label>
  <label>
    <input type="submit" value="Submit">
  </label>
</form>