<h2>Hello Trevor</h2>
<% unless flash.empty? %>
  <% flash.keys.each do |flash_key| %>
		<p class="<%= flash_key %>"><%= flash[flash_key] %></p>
  <% end %> 
<% end %>

<div class="form-row">
	<%= render partial: 'naked_html' %>
</div>

<div class="form-row">
	<%= render partial: 'using_form_tag' %>
</div>