<!DOCTYPE html>
<html>
<head>
  <title>Reformer: Admin Portal</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <section class="container-fluid">
    <div class="row">
      <h1 class="col-sm-12 text-center">Viking Store Admin Portal</h1>
    </div>

    <div class="row">
      <div class="col-sm-3 mr-auto">
        <section class="navigation">
          <nav class="navbar navbar-text">
            <ul class="list-group">
              <li class="nav-item list-group-item">
                <a class="nav-link" href="#">Users</a>
              </li>
              <li class="nav-item list-group-item">
                <a class="nav-link" href="#">Addresses</a>
              </li>
              <li class="nav-item list-group-item">
                <a class="nav-link" href="#">Orders</a>
              </li>
              <li class="nav-item list-group-item">
                <a class="nav-link" href="#">Products</a>
              </li>
              <li class="nav-item list-group-item">
                <a class="nav-link" href="#">Categories</a>
              </li>
              <hr>
              <li class="nav-item list-group-item">
                <a class="nav-link" href="#">Analytics Dashboard</a>
              </li>
            </ul>
          </nav>
        </section>
      </div>

      <div class="col-sm-8">
        <div class="row">
          <!--placeholder: flash window-->
        </div>
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>



  </section>

</body>
</html>
